<?xml version="1.0" encoding="iso-8859-1" ?>

<specifications xmlns:xi="http://www.w3.org/2001/XInclude">
<name>civicrm settings</name>
<comment>Specifications for Settings</comment>
<xi:include href="UrlPreferences.xml" parse="xml" />
<xi:include href="MemberPreferences.xml" parse="xml" />
<xi:include href="MultisitePreferences.xml" parse="xml" />
<xi:include href="AddressStandardizationPreferences.xml" parse="xml" />
<xi:include href="CampaignPreferences.xml" parse="xml" />
<xi:include href="CiviCRMPreferences.xml" parse="xml" />
<xi:include href="EventPreferences.xml" parse="xml" />
<xi:include href="MailingPreferences.xml" parse="xml" />
<xi:include href="DirectoryPreferences.xml" parse="xml" />
</specifications>
